.portfolio-hover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
.portfolio-hover.opened-popup {
  opacity: .5;
  visibility: visible;
}
.portfolio-btn-popup {
  width: 50px;
  height: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  opacity: .5;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: ease .3s;
}
.popup-cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.popup-cross:hover {
  opacity: .7;
}
.portfolio-btn-popup:hover {
  opacity: 1;
}
.prev-img-btn {
  left: 0;
}
.next-img-btn {
  right: 0;
}
.portfolio-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: black; */
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
.portfolio-popup.opened-popup {
  opacity: 1;
  visibility: visible;
}
.portfolio-popup__body {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-popup__body-art {
  width: 95%;
  height: 95%;
}