* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  position: relative;
}
.app {
  height: 100%;
  position: relative;
  bottom: 0;
}
body::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: white;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(211, 205, 205);    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  /* opacity: .1; */
  /* border: 1px solid rgb(247, 247, 242); */
}

